<?xml version='1.0' encoding='utf-8'?>
<widget xmlns = "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.phonegap.skynxt" versionCode = "10" version = "1.0.0" >
    <name>SkyNxt</name>
    <description>
        Blockchain DApp.
    </description>
    <author email="contact@skynxt.info" href="http://skynxt.info">
        SkyNxt Team
    </author>

	<plugin name="cordova-plugin-file" source="npm" />
	<plugin name="cordova-plugin-splashscreen" source="npm" />
	<plugin name="phonegap-plugin-barcodescanner" source="npm" />
	<plugin name="cordova-plugin-whitelist" />
	
	<preference name="SplashScreen" value="res/screen/android/SkyNxt.png" />
	<preference name="AutoHideSplashScreen" value="true" />
	<preference name="SplashScreenDelay" value="3000" />
	<preference name="SplashMaintainAspectRatio" value="true" />

	<access origin="*" />
	<platform name="android">
		<preference name="AndroidPersistentFileLocation" value="Compatibility" />
		<icon src="res/android/SkyNxt.png" qualifier="ldpi" />
		<icon src="res/android/SkyNxt.png" qualifier="mdpi" />
		<icon src="res/android/SkyNxt.png" qualifier="hdpi" />
		<icon src="res/android/SkyNxt.png" qualifier="xhdpi" />
		<splash src="res/screen/android/SkyNxt.png" qualifier="ldpi" />
		<splash src="res/screen/android/SkyNxt.png" qualifier="mdpi" />
		<splash src="res/screen/android/SkyNxt.png" qualifier="hdpi" />
		<splash src="res/screen/android/SkyNxt.png" qualifier="xhdpi" />
	</platform>

	<platform name="winphone">
		<icon src="res/wp/SkyNxt.ico" platform="winphone" />
		<splash src="res/wp/SkyNxt.png" platform="winphone" />
	</platform>
</widget>
