<?xml version='1.0' encoding='utf-8'?>
<widget id="com.skynxt" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>SkyNxt</name>
    <description>
        Blockchain DApp.
    </description>
    <author email="contact@skynxt.info" href="http://skynxt.info">
        SkyNxt Team
    </author>
    <content src="index.html" />
    <access origin="*" />
<preference name="phonegap-version" value="4.0.1" />
<preference name="SplashScreen" value="screen" />
<preference name="SplashScreenDelay" value="10000" />
<preference name="SplashMaintainAspectRatio" value="true" />
<preference name="orientation" value="landscape" />
<preference name="AndroidPersistentFileLocation" value="Compatibility" />

<plugin name="cordova-plugin-file" source="npm" />
<plugin name="cordova-plugin-splashscreen" source="npm" />
<plugin name="phonegap-plugin-barcodescanner" source="npm" />

<platform name="android">
<icon src="res/android/SkyNxt.png" qualifier="ldpi" />
<icon src="res/android/SkyNxt.png" qualifier="mdpi" />
<icon src="res/android/SkyNxt.png" qualifier="hdpi" />
<icon src="res/android/SkyNxt.png" qualifier="xhdpi" />
<splash src="res/screen/android/SkyNxt.png" qualifier="ldpi" />
<splash src="res/screen/android/SkyNxt.png" qualifier="mdpi" />
<splash src="res/screen/android/SkyNxt.png" qualifier="hdpi" />
<splash src="res/screen/android/SkyNxt.png" qualifier="xhdpi" />
<splash src="res/screen/android/SkyNxt.png" qualifier="fr-xhdpi" />
<splash src="res/screen/android/SkyNxt.png" qualifier="port-xxhdpi" />
<splash src="res/screen/android/SkyNxt.png" qualifier="land-xxhdpi" />
</platform>
</widget>
